@import "../../styles/variables.scss";

.contacts{
  padding: 1.5em 1.3em 2em 1.3em;
  margin-top: 15vh;
  box-shadow: $card-shadow;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  background-color: $background-color;
}

.title{
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 0.65em;
}

.header{
  margin-bottom: calc(2vmin);
}

.searchWrapper{
  display: flex;
  justify-content: space-between;
}

.newContactWrapper{
  display: flex;
  justify-content: space-between;
}

.iconBtn{
  width: calc(1.5rem + 3vmin);
  height: auto;
  border: none;
  background: none;
  &:focus {
    outline: none;
  }
  &:focus * {
    fill: $primaryColorLight;
  }
  & > svg {
    fill: $primaryColor;
    cursor: pointer;
    &:hover,
    &:focus {
      fill: $primaryColorLight;
    }
  }
}

.searchIcon{
  width: calc(1.5rem + 3vmin);
  height: auto;
  & > svg {
    fill: $color-main-light;
  }
}

.contactEditBtn{
  width: calc(1.4rem + 1vmin);
  &:focus * {
    fill: $primaryColor;
  }
  & > svg {
    fill: $primaryColorLight;
    &:hover,
    &:focus {
      fill: $primaryColor;
    }
  }
}

.deleteBtn{
  width: 1vmin;
}

.contact{
  font-size: calc(6px + 1vmin);
  display: flex;
  flex-grow: 1;
}

.contactName{
  font-size: calc(6px + 1vmin);
  border: $background-color-darker;
  margin-right: 0.6rem;
  width: 67%;
}

.contactPhone{
  border: $background-color-darker;
  color: $color-main-dark;
}

.contactWrapper{
  display: flex;
  justify-content: space-between;
  margin-right: 4rem;
  margin-bottom: 1vmin;
  padding-bottom: 0.2vmin;
  border-bottom: 1px solid $color-main-lighter;
}

.input{
  background: $background-color;
  font-family: inherit;
  font-size: calc(6px + 1vmin);
  display: block;
  margin: 0;
  border: 1px solid $color-main-light;
  border-radius: 4px;
  box-sizing: border-box;
  color: $color-main-darker;
  padding: calc(4px + 1vmin) calc(6px + 1vmin);

  &:hover,
  &:focus {
    border: 1px solid $color-main-dark;
    outline: none;
  }

  &::placeholder {
    color: $color-main-light;
  }

  &_focus {
    border: 1px solid $color-main-dark;
  }
}

.searchInput{
  margin-bottom: 1.5vmin;
  margin-right: 1rem;
  width: 100%;
}

.input_add{ 
  margin-bottom: 1.5vmin;
  margin-right: 1rem;
}